.floruit_index{
    .slider_up{padding:20px 182px;overflow:hidden;box-sizing:border-box;background:url('/img/index/point_home.png') repeat-x 0 30px;
        .today_top{padding:0 100px 0 136px;position:relative;background-color:#fff;}
        .head_title{position:absolute;left:0;width:114px;top:1px;}
        .scroll_out_box{height:20px;overflow:hidden;
            .auto_scroll_box{position:relative;
                a{display:block;font-size:14px;color:#777;height:20px;line-height:20px;}
            }
        }
        .slide_do{position:absolute;right:8px;top:-5px;width:30px;height:30px;display:block;border:1px solid #e8e8e8;background:url('/img/index/slide_up.png') no-repeat center center;cursor:pointer;
            &.slide_up{right:38px;border-right:1px solid #fff;
            }
            &.slide_down{background-image:url('/img/index/slide_down.png');}
            &:hover{border-color:#f18e00;
                &.slide_up{background-image:url('/img/index/slide_up_active.png');border:1px solid #f18e00;z-index:2;}
                &.slide_down{background-image:url('/img/index/slide_down_active.png');z-index:2;}
            }
        }
        
    }
    .advertisement{overflow:hidden;height:180px;margin-bottom:20px;
        .adverti_item{margin-left:12px;float:left;border:1px solid #e8e8e8;box-sizing:border-box;width:392px;height:180px;cursor:pointer;
            &.first_item{margin-left:0;}
            img{width:100%;height:100%;}
        }
    }
    .limitActivity{height:426px;background:url('/img/index/limit_activity_bg.png') no-repeat center center;background-size:100% 100%;padding:20px 20px;box-sizing:border-box;overflow:hidden;
        .title{font-size:20px;color:#333;font-weight:bold;text-align:center;}
        .info{font-size:12px;color:#777;line-height:24px;text-align:center;}
        .activity_item{width:570px;float:left;height:316px;padding-top:50px;box-sizing:border-box;margin-top:20px;position:relative;padding-left:302px;box-shadow:0 1px 4px 1px rgba(239, 143, 5, 0.52);
            &.limit_time{margin-right:20px;background:url('/img/index/limit_time.png') no-repeat center center;background-size:100% 100%;}
            &.limit_num{background:url('/img/index/limit_time.png') no-repeat center center;background-size:100% 100%;}
            .goods_img{width:260px;height:260px;position:absolute;left:0;bottom:0;cursor:pointer;}
            .title{margin-top:60px;font-size:18px;font-weight:bold;color:#333;text-align:left;
                span{cursor:pointer;}
            }
            .info{margin-top:10px;font-size:14px;color:#999;text-align:left;}
            .price{margin-top:20px;font-size:24px;font-weight:bold;color:#f18e00;
                &:before{content:'￥';font-weight:normal;font-size:12px;}
                span{font-size:12px;}
            }
            .old_price{font-size:12px;color:#999;margin-top:4px;text-decoration: line-through;}
            .activity_title{position:absolute;top:11px;right:7px;width:90%;height:30px;line-height:30px;text-align:right;
                .activity_info{font-size:12px;color:#fff;margin-right:12px;}
                .activity_time{color:#fff;
                    b{display: inline-block;height:30px;background-color:#000;margin-right:3px;font-weight:bold;font-size:16px;box-sizing:border-box;padding: 0 5px;border-radius:5px;
                      width:20px;text-align:center;}
                    i{display:inline-block;height:30px;width:14px;background:url('/img/index/time_point.png') no-repeat center center;background-size:100% 100%;}
                }
                .activity_btn{display:inline-block;padding:0 10px;background-color:#000;height:30px;font-size:14px;color:#fff;border-radius:20px;font-weight:bold;}
            }
        }
    }
    .index_title{padding-left:50px;padding-top:20px;margin-top:30px;padding-bottom:10px;font-size:18px;color:#333;font-weight:bold;background:url('/img/index/today_recommend.png') no-repeat 0 18px;
        background-size:41px 28px;
        span{font-size:12px;color:#777;padding-left:8px;font-weight:normal;}
        .has_more{font-size:12px;color:#777;float:right;font-weight:normal;padding-right:10px;background:url('/img/index/has_more_icon.png') no-repeat right center;
            &:hover{color:#f18e00;background-image:url('/img/index/has_more_icon_active.png');}
        }
        &.today_recommend{background-image:url('/img/index/today_recommend.png');}
        &.week_great{background-image:url('/img/index/week_great.png');}
        &.online_retailers{background-image:url('/img/index/online_retailers.png');}
        &.restaturant{background-image:url('/img/index/restaturant.png');}
    }
    .index_goods{
        &:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
        .goods_item{width:232px;height:322px;box-sizing:border-box;border:1px solid #e8e8e8;float:left;margin-left:10px;cursor:pointer;margin-top:10px;position:relative;
            transition:all .2s ease-in-out 0s;
            &.belone_first{margin-left:0;}
            img{width:230px;height:230px;}
            .title{padding:0 20px;font-size:14px;color:#333;font-weight:bold;margin-top:2px;margin-bottom:0;}
            .info{padding:0 20px;font-size:12px;color:#777;margin-top:4px;}
            .price{font-size:18px;color:#f18e00;padding:0 20px;margin-top:8px;
                &:before{content:'￥';font-size:12px;}
                span{font-size:12px;}
                .old_price{color:#ccc;padding-left:10px;text-decoration: line-through;
                    &:before{content:'￥';}
                }
            }
            .add_cart{position:absolute;display:block;opacity:0;width:26px;height:24px;background:url('/img/index/cart_add.png') no-repeat center center;background-size:100% 100%;
            right:10px;bottom:18px;z-index:3;transition:all .2s ease-in-out 0s;}
            &:hover{border:1px solid #fff;box-shadow:0 0 12px -5px #000;
                .add_cart{opacity:1;}
            }
        }
    }
}

// all goods class content
.goods_class{position:absolute;width:750px;top:36px;left:0;overflow:hidden;min-height:500px;
    .type_list{width:180px;float:left;height:500px;border-left:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;box-sizing:border-box;background-color:rgba(255,255,255,.95);
        li{display:block;box-sizing:border-box;padding:10px 0 0 50px;border-right:1px solid #f18e00;width:180px;height:57px;overflow:hidden;position:relative;
            &.active,&:hover{border:1px solid #f18e00;background-color:#fff;border-right:1px solid #fff;}
            img{position:absolute;left:16px;top:10px;width:20px;height:20px;}
            &.more_class{
                &:hover{border:none;background-color:transparent;border-right:1px solid #f18e00;}
                a{font-size:12px;color:#333;}
            }
        }
        span{display:block;}
        .type_name{
            a{font-weight:bold;color:#333;font-size:14px;}
        }
        .hot_class{font-size:12px;color:#777;margin-top:6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
            a{margin-right:10px;font-size:12px;
                &:hover{color:#f18e00;}
            }
        }
    }
    .class_detail{width:570px;border:1px solid #f18e00;float:left;box-sizing:border-box;padding:25px 0;padding-right:25px;border-top:none;min-height:500px;
        background-color:rgba(255,255,255,.95);
        .type_sec_list{position:relative;padding-left:100px;min-height:35px;
            li{display:inline-block;padding:0 10px;line-height:15px;height:15px;border-left:1px solid #777;margin-bottom:15px;
                &.type_name{position:absolute;left:20px;top:5px;width:80px;text-align:right;box-sizing:border-box;padding-right:10px;padding-left:0;font-size:12px;font-weight:bold;
                    color:#f18e00;border:none;background:url('/img/index/sub_arrow_rigt.png') no-repeat right center;background-size:6px 6px;
                    a{font-size:12px;color:#f18e00;}    
                }
                &.first_item{border:none;}
            }
        }
        .class_item{font-size:12px;color:#777;display:block;
            &:hover{color:#f18e00;}
        }
    }
}
//
.guide_search{overflow:hidden;padding-bottom:10px;
    .empty_guide_item{width:50%;float:left;box-sizing:border-box;
        &.history_search{padding-right:10px;border-right:1px solid #e8e8e8;
            span{}
        }
        &.hot_search{padding:0 10px;border-left:1px solid #e8e8e8;margin-left:-1px;}
        h4{font-size:12px;color:#777;padding:5px 0;margin-bottom:5px;
            b{color:#555;font-weight:normal;font-size:12px;float:right;cursor:pointer;
                &:after{content:'清除'}
                &:hover{color:#f18e00;}
            }
        }
        span{font-size:12px;color:#999;display:inline-block;padding:2px 5px;border:1px solid #e8e8e8;border-radius:4px;margin-right:6px;margin-top:5px;cursor:pointer;
            &:hover{color:#f18e00;}
        }
    }
}
.my_floruit_box{float:left;width:130px;height:45px;line-height:45px;box-sizing:border-box;margin-right:28px;
    position:relative;
    .content_button{font-size:14px;color:#777;padding-left:30px;padding-right:20px;height:100%;text-align:center;overflow:hidden;position:relative;cursor:pointer;z-index:701;
        background-color:#f5f5f5;border:1px solid #e8e8e8;box-sizing:border-box;
        &:before,&:after{content:'';display:block;width:17px;height:17px;background:url('/img/index/my.png') no-repeat center center;background-size:100% 100%;position:absolute;
        left:10px;top:14px;}
        &:after{background-image:url('/img/index/my_arrow.png');background-size:10px 5px;right:5px;left:auto;}
    }
    .my_floruit_info{overflow:hidden;width:270px;position:absolute;left:-140px;box-sizing:border-box;top:44px;z-index:700;line-height: initial;
        height:0;
        border:1px solid transparent;transition:height .1s ease-in-out 0s;
        .container_box{
            //padding:20px 20px;
            padding:0 20px;
        }
        .info_title{padding:0 20px 20px;font-weight:bold;color:#333;border-bottom:1px solid #e8e8e8;display:none;}
        .info_item_box{
            li{display:inline-block;width:113px;box-sizing:border-box;padding:10px 20px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
                a{font-size:12px;color:777;
                    &:after{content:'>';margin-left:3px;font-size:14px;}
                    &:hover{color:#f18e00;}
                }
                &.noneAfter{
                    a{&:after{content:''}}
                }
            }
        }
    }
    &:hover{
        .content_button{background-color:#fff;border-bottom:1px solid #fff;}
        .my_floruit_info{background-color:#fff;
            //height:154px;
            height:80px;
            border:1px solid #e8e8e8;}
    }
}

// 轮播
.floruit_slider{position:relative;height:540px;
    .slider_body{width:100%;overflow:hidden;position:relative;height:500px;
        .slider_main{width:30000px;overflow:hidden;position:relative;
            li{height:500px;float:left;cursor:pointer;}
            img{width:100%;height:500px;}
        }
    }
    .slider_footer{width:1200px;position:absolute;bottom:-1px;left:50%;margin-left:-600px;z-index:1;opacity:.5;
        li{height:40px;width:295px;background-color:#000;float:left;margin-left:5px;cursor:pointer;
            &:first-child{margin-left:0;}
            &.active{background-color:#f18e00;}
        }
    }
}

.floruit_index{
    &>div{position:relative;}
    .ctrModule{display:block;width:100%;height:100%;position:absolute;left:0;top:0;background-color:rgba(0,0,0,.4);
        &.activeModule{background-color:transparent;
            &.hideModule{
                &:before{color:#f18e00;}
            }
        }
        &.hideModule{text-align:center;
            &:before{content:'已隐藏';font-size:60px;color:#fff;display:inline-block;height:72px;width:250px;position:absolute;left:50%;top:50%;margin-top:-42px;margin-left:-125px;}
        }
    }
}

// login

body{margin:0;padding:0;background:#f7f7f7;color:#1c1b1a;-webkit-text-size-adjust:none;font-family: "微软雅黑";}
ul,ol,li,form{margin:0;padding:0;}ul,ol,li{list-style:none}
img{border:0}em,i,span{font-style:normal}
h1,h2,h3,h4,div,li,p{margin:0;padding:0;font-weight:normal;-webkit-tap-highlight-color:transparent;}
.layout{background: #fff;font-weight: bold;height: 100%;width: 100%;}
header{margin-left: 80px;height: 100px;padding-top: 30px;}header img{margin-right:20px;float: left;}
header span{font-size: 30px; color:#999;font-family: "微软雅黑"; line-height: 60px; height: 110px;display: block; float: left;justify-content:center;}
section{background:url("../img/bg.png") no-repeat 0 0; width: 100%;height: 615px;}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #efefef inset
}
input, textarea {
 -webkit-tap-highlight-color: transparent;
 margin: 0;
 padding: 0;
 font-family: Helvetica, "Microsoft YaHei","Heiti","Heiti SC", "DroidSans", "DroidSansFallback","Helvetica Neue",  "STHeiTi", Arial, sans-serif;
 -webkit-appearance: none; }
 input:focus, select:focus, textarea:focus {
  outline: none; }
  ::-webkit-scrollbar{width: 6px;background: transparent;}
::-webkit-scrollbar-thumb{background:rgba(0,0,0,.3);border-radius: 100px}
input{background-color: none}
.logindiv{margin-top:130px;margin-right: 180px;float: right;width: 420px;height:380px;background-color:#fff;font-family: "微软雅黑";border-radius:15px;-webkit-box-shadow:0 0 10px #CCC;-moz-box-shadow:0 0 10px #CCC;box-shadow:0 0 10px #CCC;}
.loginw{padding: 30px 60px;}
.loginw h1{color: #f18e00;font-size:22px;font-weight: bold;line-height: 60px;height: 60px;width: 100%;text-align: center;margin-bottom: 20px;}
.loginw .inputLab{height: 44px;padding: 2px;font-size: 14px;border:solid 1px #ccc;border-radius:10px;margin-bottom: 28px;background-color: #efefef;}
.loginw .inputLab label{float: left;width: 20px;margin: 10px;}
.labelName{background:url("../img/data.png") no-repeat 0 0; width: 20px;height: 24px;}
.labelPassword{background:url("../img/account.png") no-repeat 0 0; width: 20px;height: 24px;}
.loginw .inputLab input{width:200px;height: 40px;line-height: 40px;border:none;outline: none;background-color: #efefef;font-family: "微软雅黑";}
.J_Submit{width: 300px; height: 46px; line-height: 46px; font-size: 18px; background-color: #f18e00; border: none; color: #fff;border-radius:10px; cursor: pointer;}
footer{height: 200px;width:100%; text-align: center;}
footer .ft-info{width:100%; text-align: center; height: 20px; line-height: 20px; margin-top: 20px;font-size: 12px; color: #222;}
footer .ft-info a{color:#222; text-decoration: none;}
footer p{font-size: 12px; color: #222;}

//fade
#fade{pointer-events:none;background:rgba(0,0,0,.6);color:#fff;position:fixed;bottom:50%;left:0;right:0;width:250px;margin:0 auto;border-radius:10px;padding:20px;text-align:center;font-size:14px;opacity:0;z-index:999;}
#mod{position:fixed;top:50%;left:50%;margin-left:-50px;margin-top:-50px;}